<!-- views/partials/header.ejs -->

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#"><i class="fas fa-paw"></i> | Feed the kakashi</a>
  </nav>